/*-------------------------------------------------------------
		Project:        DelTruck
		Author:         Anton Shaposhnikov
		Telegram:				https://t.me/hesoyam_666
--------------------------------------------------------------*/
@import 'variables'; // Variables

html { overflow-x: hidden; box-sizing: border-box; height: 100%; }

body {
	font-family: 'Segoe UI';
	background-color: #fff;
	color: #303030;
	font-style: normal;
	display: flex;
  flex-direction: column;
  height: 100%;
}

main {
	flex: 1 0 auto;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

input:invalid { border-color: red !important; }

textarea, input, select {
  -webkit-appearance: none;
  border-radius: 0;
}

:active, :focus { outline: none; }

a, a:focus, a:hover, a:active {
	outline: 0;
	color: inherit;
	text-decoration: none;
}

option,
option:hover,
option:focus {
border:none;
outline:none;
box-shadow: none;
color: #666;
font-size: 1.4667vh;
}


// ==============================//
// 			in-dev.html							
// ============================//

.in-dev {
	margin-top: 20vh;
	h1 {
		font-size: 5vh;
		text-align: center;
		text-transform: uppercase;
	}
}


// ==============================//
// 			Общие стили							
// ============================//

.container {
	max-width: 133.3333vh;
	height: 100%;
	margin: 0 auto;
	padding: 0 1vh;
}

// Общие стили кнопки
.main__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 31.2037vh;
	height: 5.5556vh;
	border: 0.1852vh solid $color-red;
	text-transform: uppercase;
	background-color: transparent;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.6667vh;
	line-height: 1.6667vh;
	letter-spacing: 0.0463vh;
	color: $color-red;
	&:hover {
		cursor: pointer;
		color: #fff;
		background-color: $color-red;
		transition: all 1s ease;
	}
}

//  Header
.header {
	width: 100%;
	height: 17.7778vh;
	&__nav {
		height: 5.5556vh;
		width: 100%;
		background-color: #E6E6E6;
	}
	&__inner {
		display: flex;
		align-items: center;
		height: 100%;
	}
	&__logo {
		width: 27.037vh;
		height: 10.3704vh;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 1vh;
	}
	&__title {
		text-align: left;
		margin-left: 4.6296vh;
		h3 {
			margin-bottom: 1.2037vh;
			font-weight: bold;
			font-size: 2.3148vh;
			line-height: 2.2222vh;
			color: #333333;
		}
		p {
			font-weight: normal;
			font-size: 1.8519vh;
			line-height: 1.8519vh;
			color: #000;
		}
	}
}

.header__hot-line {
	width: 31.9444vh;
	margin-right: 1vh;
	.hot-line__alert {
		margin-left: 5vh;
		display: inline-block;
		font-weight: normal;
		font-size: 1.2963vh;
		line-height: 1.4815vh;
		color: #999999;
	}
}

.hot-line {
	display: flex;
	align-items: center;
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 3.7963vh;
		height: 3.7963vh;
		background-color: $color-red;
		&:hover {
			background-color: #666;
		}
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
		}
		img {
			width: 2.037vh;
			height: 2.037vh;
		}
	}
	&__number {
		margin-left: 1vh;
		color: #303030;
		.number__title {
			font-weight: normal;
			font-size: 1.4815vh;
			line-height: 1.8519vh;
		}
		.number__num {
			font-weight: 600;
			font-size: 3.2407vh;
			line-height: 2.963vh;
		}
	}
}

// Navigation
.nav {
	width: 100%;
	height: 100%;
	background-color: #E6E6E6;
	&__ul {
	display: flex;
	justify-content: space-evenly;
	height: 100%;
	margin: 0;
	padding-left: 0;
	list-style: none;
	}
	&__li {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 9999;
		width: 100%;
		text-decoration: none;
		transition: all 0.2s;
		cursor: pointer;
		&--long {
			width: 124%;
		}
	}
	&__li:hover {
		background-color: $color-red;
		cursor: pointer;
	}
	&__li:hover .new {
		background-color: #fff;
		color: #000;
	}
	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		font-size: 1.6667vh;
		line-height: 1.8519vh;
		text-transform: uppercase;
		letter-spacing: 0.0463vh;
		font-weight: 400;
		color: #303030;
	}
	&__li:hover .nav__title {
		color: #fff;
	}
	.drop__ul {
		position: absolute;
		top: 5.5vh;
		left: 0;
		background-color: #E6E6E6;
		min-width: 29.8148vh;
		padding: 0;
		box-shadow: none;
		display: none;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.2s;
	}
	.drop__li {
		height: 4.6296vh;
	}
	.drop__li a {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 2.7778vh;
		height: 100%;
		width: 100%;
		text-transform: none;
		font-weight: normal;
		font-size: 1.6667vh;
		line-height: 1.8519vh;
		letter-spacing: 0.0463vh;
	}
	.drop__li:hover a { 
		color: #fff;
	}
	.drop__li:hover { 
		background-color: $color-red;
	}
	.nav__ul .nav__li:hover .drop__ul {
		display: block;
		opacity: 1;
		visibility: visible;
		list-style-type: none;
	}
	.nav__li:hover .new {
		background-color: #fff;
		color: #000;
	}
}

// Icon New
.new {
	width: 5.5556vh;
	height: 2.2222vh;
	margin-left: 0.4vh;
	color: #fff;
	font-weight: normal;
	font-size: 1.3889vh;
	line-height: 2.1815vh;
	text-align: center;
	letter-spacing: 0.0463vh;
	text-transform: uppercase;
	background-color: $color-red;
	border-radius: 1000vh;
}

.footer .new p {
	margin-bottom: 0.4vh;
}

// =======================================================//
// 		 Блок Новости/Преймущестава/Обратная связь		 
// 		(используеться на многих страницах)				
// ====================================================//

.about-block{
	margin-top: 8.3333vh;
}

.about {
	display: flex;
	justify-content: space-between;
	&__heading {
		border-bottom: 0.1852vh solid $color-red;
		padding-bottom: 1.8519vh;
		h2 {
			font-family: 'Montserrat', sans-serif;
			font-size: 1.6667vh;
			line-height: 1.6667vh;
			font-weight: bold;
			color: #303030;
			letter-spacing: 0.0463vh;
			text-transform: uppercase;
		}
	}
	.news, .advantages, .feedback {
		width: 41.0185vh;
	}
	.news-block {
		margin-top: 2.037vh;
		&__item {
			display: flex;
			justify-content: center;
			flex-direction: column;
			min-height: 10.3704vh;
			border-bottom: 0.0926vh solid #ECECEC;
			&:hover .title {
				color: $color-red;
			}
			&:hover .point {
				background-color: #666;
			}
		}
		.date-wrap {
			display: flex;
			align-items: center;
			height: 2vh;
			time {
				font-weight: normal;
				font-size: 1.2963vh;
				line-height: 1.4815vh;
				color: #666;
			}
		}
		.point {
			width: 1.2963vh;
			height: 1.2963vh;
			margin-right: 0.7037vh;
			background-color: $color-red;
		}
		.title {
			margin: 1.1111vh 0 0 1.5vh;
			font-weight: normal;
			color: #303030;
			font-size: 1.6667vh;
			line-height: 2.2vh;
		}
	}
	.advantages-block {
		margin-top: 2.037vh;
		&__item {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			min-height: 10.3704vh;
			border-bottom: 0.0926vh solid #ECECEC;
			.title {
				margin-left: 6.0185vh;
				font-weight: normal;
				color: #000;
				font-size: 1.6667vh;
				line-height: 1.4815vh;
			}
			.img-wrap {
				display: flex;
				align-items: center;
				height: 8.1111vh;
				img {
					width: 5.5556vh;
					height: 5.5556vh;
				}
			}
		}
	}
	.feedback-block {
		margin-top: 2.037vh;
		&__item {
			padding-top: 1.5vh;
			.feedback-form {
				display: flex;
				flex-direction: column;
				margin: 0 auto 2.7778vh auto;
				position: relative;
				width: 100%;
				&__label {
					margin-bottom: 1.0185vh;
					font-weight: normal;
					font-size: 1.8519vh;
					line-height: 1.4815vh;
					color: #666;
				}
				&__input {
					height: 5vh;
					width: 37.3148vh;
					padding-left: 1vh;
					background-color: #F8F8F8;
					border: 0.0926vh solid #DFDFDF;
					font-size: 2vh;
					-moz-appearance: textfield;
					&::-webkit-inner-spin-button { 
						display: none;
					}
					&::placeholder {
						font-size: 1.8667vh;
						line-height: 2.2222vh;
						color: #D9D9D9;
					}
				}
				&__btn {
					width: 19.3519vh;
				}
			}
		}
	}
}

.news-block__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 13.9815vh;
	height: 3.1481vh;
	margin-top: 2.7778vh;
	background-color: #F8F8F8;
	border-radius: 0.2778vh;
	p {
		display: flex;
		align-items: center;
		height: 100%;
		text-align: center;
		color: #666;
		font-size: 1.2963vh;
	}
	img {
		width: 1.6vh;
		margin-left: 0.5vh;
		transition: all .2s ease-in-out;
	}
	&:hover {
		background-color: #EFEFEF;
		p {
			color: $color-red;
		}
		img {
			margin-left: 1vh;
		}
	}
}

// Футер
.footer {
	margin-top: 8.1481vh;
	background-color: #DADADA;
	&-info {
		display: flex;
		justify-content: space-between;
		padding-top: 3.0556vh;
		&__item {
			display: flex;
			flex-direction: column;
			&--new {
					h3 {
					display: flex;
				}
			}
			h3, a {
				margin-bottom: 1.6667vh;
				line-height: 1.8519vh;
				letter-spacing: 0.0463vh;
			}
			h3 {
				font-weight: 600;
				font-size: 1.6667vh;
				text-transform: uppercase;
				color: #303030;
			}
			a {
				color: #666;
				font-size: 1.4815vh;
				&:hover {
					color: $color-red;
				}
			}
		}
		&__btn {
			margin-top: 8.3333vh;
		}
	}
	&-adress {
		padding-bottom: 3.2407vh;
		p {
			font-weight: normal;
			font-size: 1.2963vh;
			line-height: 2.8519vh;
			letter-spacing: 0.0463vh;
			color: #666;
		}
		a:hover {
			color: $color-red;
		}
	}
}

// Заголовок страницы
.heading-block {
	margin-bottom: 6.4815vh;
}

.heading {
	display: flex;
  align-items: flex-end;
	width: 100%;
	height: auto;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	&__title {
		max-width: 89.2407vh;
		padding: 5vh 0 10.1852vh 11.1111vh;
		margin: 0;
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		font-size: 4.6296vh;
		line-height: 5.6481vh;
		color: #FFFFFF;
	}
	&--transit {
		height: 56.2037vh;
		background-image: url('../img/haeding-truck.jpg');
	}
	&--additional-services {
		height: 28.2407vh;
		background-image: url('../img/heading__additional-services.jpg');
		.heading__title {
			max-width: 111vh;
			padding: 5vh 0 6.5vh 11.1111vh;
		}
	}
	&--news {
		height: 28.2407vh;
		background-image: url('../img/heading__news.jpg');
		.heading__title {
			max-width: 111vh;
			padding: 5vh 0 2.5vh 11.1111vh;
		}
	}
	&--flight-search {
		height: 28.2407vh;
		background-image: url('../img/heading__flight-search.jpg');
		.heading__title {
			max-width: 111vh;
			padding: 5vh 0 4.5vh 11.1111vh;
		}
	}
}

// Хлебные крошки
.crumbs {
  width: 100%;
	height: 5.5556vh;
	margin-top: 5.5556vh;
	&__inner {
		display: flex;
		align-items: center;
		height: 100%;
		font-weight: normal;
		font-size: 1.2963vh;
		line-height: 1.4815vh;
		color: #666;
		cursor: pointer;
		p {
			margin: 0 0.9259vh 0 0.9259vh;
		}
		a:hover {
			color: $color-red;
		}
	}
}


// ==================================================//
// 			Страница	Послуги/перевезення		
// ================================================//

.order {
	display: flex;
	width: 100%;
	margin-top: 8.3333vh;
	background-color: #FFFFFF;
	box-shadow: 0vh 0vh 4.6296vh rgba(133, 133, 133, 0.14);
	border-radius: 0.2778vh;
}

.info {
	width: 50%;
	padding: 4.7222vh 5.5556vh 3.2407vh 5.5556vh;
	&__sub-title {
		margin-bottom: 3.7037vh;
		font-weight: bold;
		color: #303030;
		font-size: 2.7778vh;
		line-height: 3.5185vh;
	}
	&__text {
		max-width: 51.8519vh;
		font-weight: normal;
		color: #303030;
		font-size: 1.8519vh;
		line-height: 1.9444vh;
	}
	&__img {
		max-width: 41.5741vh;
		height: 29.6296vh;
		margin: 12.037vh auto 0 auto;
		img {
			width: 100%;
		}
	}
}

.request {
	width: 50%;
	padding: 4.7222vh 5.5556vh 3.2407vh 5.5556vh;
	&__group {
		margin: 0 auto;
		width: 41.6667vh;
	}
}

// Форма заявки
.form {
	display: flex;
  flex-direction: column;
	position: relative;
	width: 100%;
	margin: 0 auto 2.1296vh auto;
	&__label {
		margin-bottom: 1.0185vh;
		font-weight: normal;
		font-size: 1.6667vh;
		line-height: 2.2222vh;
		color: #303030;
	}
	&__input {
		width: 100%;
		height: 3.8889vh;
		padding-left: 1vh;
		border: 0.0926vh solid #D9D9D9;
		font-size: 1.6667vh;
		line-height: 2.2222vh;
		-moz-appearance: textfield;
		&::-webkit-inner-spin-button { 
			display: none;
		}
		&::placeholder {
			font-size: 1.6667vh;
			line-height: 2.2222vh;
			color: #D9D9D9;
		}
	}
	&__select {
		width: 100%;
		height: 3.8889vh;
		padding-left: 1vh;
		font-size: 1.6667vh;
		line-height: 2.2222vh;
		border: 0.0926vh solid #D9D9D9;
		background: url('../img/icon/system/arrow-select.svg') no-repeat center;
		background-size: 1.8519vh 0.8333vh;
		-webkit-appearance: none;
		background-position-x: 97%;
		cursor: pointer;
		&::-ms-expand {
			display: none;
		}
	}
}

.form-small-wrap {
	display: flex;
  justify-content: space-between;
	width: 100%;
	margin: 0 auto;
}

.form--small {
	width: 15.0926vh;
	margin: 0 0 3vh 0;
	.form__select {
		background-position-x: 92%;
	}
}

.tabs { 
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 95.3704vh;
	margin: 3vh auto 0 auto;
	background-color: transparent;
	&__li {
		display: inline-flex;
		justify-content: center;
		width: 50%;
		height: fit-content;
	}
	&__input[type="radio"] {
		position: absolute;
		top: 0;
		left: -9999px;
	}
	&__label {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 8.3333vh;
		position: relative;
		top: -3.6vh;
		margin-bottom: 6.4815vh;

		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		font-size: 1.6667vh;
		line-height: 1.6667vh;
		text-align: center;
		letter-spacing: 0.0463vh;
		text-transform: uppercase;
		color: #303030;
		background-color: #F8F8F8;
		border-radius: 0.2778vh 0.2778vh 0vh 0vh;
		& h3 {
			-webkit-animation: pulses 2.5s infinite ease-in-out;
			-o-animation: pulses 2.5s infinite ease-in-out;
			-ms-animation: pulses 2.5s infinite ease-in-out; 
			-moz-animation: pulses 2.5s infinite ease-in-out; 
			animation: pulses 2.5s infinite ease-in-out;
		} 
		&:hover {
			cursor: pointer;
			color: $color-red;
		}
	}
	@-webkit-keyframes pulses {
		0% { -webkit-transform: scale(0.91); opacity: 0.7; }
		50% { -webkit-transform: scale(1); opacity: 1; }
		100% { -webkit-transform: scale(0.91); opacity: 0.7; }
	}
	@keyframes pulses {
		0% { transform: scale(0.91); opacity: 0.7; }
		50% { transform: scale(1); opacity: 1; }
		100% { transform: scale(0.91); opacity: 0.7; }
	}
	.tab-content{
		position: absolute;
		top: 5.3vh;
		left: 0; 
		z-index: 2;
		visibility: hidden;
		height: 0;
		width: 100%;
		font-size: 1.7vh;
		line-height: 2.5vh;
		padding: 0 0.5vh 0.5vh 0.5vh;  
	}
	[id^="tab"]:checked + .tabs__label { 
		color: $color-red;
		background-color: transparent;
	}
	[id^="tab"]:checked + .tabs__label h3 { 
		animation: none;
	}
	[id^="tab"]:checked ~ [id^="tab-content"] {
		visibility: visible;
		height: auto;
		display: flex;
	}
}



// ==================================================//
// 		Страница	Послуги/Додаткові послуги		
// ================================================//

.info-block {
	margin-bottom: 4.6296vh;
	&__title {
		position: relative;
		padding-bottom: 1.3889vh;
		margin-bottom: 2.7778vh;
		font-weight: bold;
		font-size: 2.7778vh;
		line-height: 3.7037vh;
		color: #303030;
		&::before {
			content: ' ';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 8.6111vh;
			height: 0.2778vh;
			background-color: $color-red;
		}
	}
	&__text {
		margin-left: 11.1111vh;
		font-weight: normal;
		font-size: 1.6667vh;
		line-height: 2.2222vh;
		color: #303030;
		&--car-order p {
			line-height: 3vh;
			color: #000000;
		}
	}
	&__list {
		list-style-type: none;
		li {
			position: relative;
			margin-left: 2vh;
			&:before {
				content: " ";
				position: absolute;
				top: 41%;
				left: -1vh;
				width: 0.4167vh;
				height: 0.4167vh;
				border-radius: 50%;
				background-color: #B72126;
			}
		}
	}
}

.info-block__advantages {
	display: flex;
  flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 3vh;
	.advantages__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 62.6852vh;
		margin-bottom: 4.6296vh;
	}
	.advantages__item:hover .advantages__img {
		box-shadow: 0vh 0vh 3.7037vh rgba(236,0,8,0.05);
		border: 0.0926vh solid rgba(183,33,38,0.19);
		transition: ease 0.5s all;
	}
	.advantages__img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 9.7222vh;
		height: 9.7222vh;
		margin-right: 2vh;
		background-color: #FFFFFF;
		border-radius: 50%;
		box-shadow: 0vh 0vh 4.6296vh rgba(133, 133, 133, 0.1);
		border: 0.0926vh solid transparent;
		img {
			width: 5.0926vh;
			height: 5.0926vh;
		}
	}
	.advantages__info {
		width: 48.1481vh;
		.advantages__title {
			margin-bottom: 1.8519vh;
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;
			font-size: 1.6667vh;
			line-height: 2.037vh;
			text-transform: uppercase;
			color: #303030;
		}
		.advantages__text {
			font-weight: normal;
			font-size: 1.6667vh;
			line-height: 2.2222vh;
			color: #303030;
		}
	}
}

// Блок с лого компаниями DelGroup
.del-group {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 8.3333vh 0;
	img {
		width: 39.7222vh;
		height: 15.7407vh;
		transition: all .2s ease;
		&:hover {
			transform: scale(1.02);
			transition: all .3s ease;
		}
	}
}



// For mobile
.accordion--mob {
	width: 97%;
	padding: 1.5208vw;
	color: #303030;
	& ul {
		list-style:none;
		margin:0;
		padding:0;    
	}
	& li {
		padding:0;
		margin:0 0 1px;
	}
	& [type=radio], & [type=checkbox] {
		display:none;
	}
	& label {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 3vw;
		font-weight: bold;
		cursor: pointer;
		position: relative;
		margin-bottom: 3vw;
		padding: 1.5208vw;
		&:before {
			content: '';
			position: absolute;
			bottom: -2.5vw;
			left: 8%;
			width: 85%;
			height: 0.1042vw;
			background-color: #DFDFDF;
		}
		p {
			max-width: 80%;
		}
	}
	.arrow img {
		width: 4vw;
	}
	& [type=radio]:checked ~ label, & [type=checkbox]:checked ~ label .arrow img {
		transform: rotate(-180deg);
	}
	& [type=checkbox]:checked ~  label:before {
		bottom: -2.5vw;
	}
	& [type=checkbox]:checked ~ label ~ .content {
		height: auto;
		margin-top: 5vw;
	}
	& .content {
		height: 0px;
		padding: 0 1.5208vw;
		overflow:hidden;
		transition: all .5s ease-out;
		& p {
			font-size: 2.8vw;
      line-height: 3.3vw;
			font-weight: normal;
			margin:0 0 1.5208vw;
		}
		a p {
			margin-top: 4vw;
			text-transform: uppercase;
			color: #B72126;
			font-weight: bold;
		}
	}
}



// ==================================================//
// 			Страница	documentation.html			
// ================================================//

.documentation {
	ul {
		margin-top: 4.6296vh;
		list-style-type: none;
		img {
			width: 2.7778vh;
			height: 3.1vh;
			margin-right: 0.9259vh;
		}
	}
	li {
		display: flex;
		align-items: center;
		margin-bottom: 2.7778vh;
	}
	a {
		display: flex;
		align-items: center;
		font-weight: normal;
		font-size: 1.6667vh;
		line-height: 2.2222vh;
		color: #303030;
		&:hover {
			color: $color-red;
		}
	}
}


// ==================================================//
// 				Страница	tariff.html				
// ================================================//

.table {
	width: 100%;
	padding: 2.7778vh 0 2.7778vh 0;
	margin: 4.1667vh auto 8.9815vh auto;
	background-color: #FFFFFF;
	box-shadow: 0vh 0vh 4.6296vh rgba(133, 133, 133, 0.14);
	border-radius: 0.2778vh;
}

.table__container {
	width: 96%;
	margin: 0 auto;
}

.table__inner {
	text-decoration: none;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	margin-bottom: 2.7778vh;
	&:last-child {
		margin-bottom: 0;
	}
	& td, & th {
		color: #303030;
		background-color:transparent;
		white-space:pre-wrap;
		font-size: 1.6667vh;
		line-height: 2.037vh;
		padding: 1.6667vh 0.463vh;
		vertical-align: middle;
		border-bottom: none;
		font-weight: normal;
		border: none;
	}
}

.table__inner tr {
	border-bottom: 0.0926vh solid rgba(102, 102, 102, 0.16);
	&:hover td { 
		color: #fff;
		background-color: rgba(183,33,38,0.39);
	}
	&:last-child {
		border-bottom: none;
	}
}

.table__inner td {
	border-right: 0.0926vh solid rgba(102, 102, 102, 0.16);
	&:last-child {
		border-right: none;
	}
}

.table__inner th {
	background-color:#F8F8F8;
	padding-left: 2vh;
	border-right: 0.0926vh solid rgba(102, 102, 102, 0.16);
	&	span {
		color: $color-red;
		font-weight: bold;
	}
	&:last-child {
		border-right: none;
	}
}

.start-tarif__thead tr {
	& th {
		padding: 1.1667vh 0.463vh;
	}
	&:last-child {
		border-bottom: 0.0926vh solid rgba(102, 102, 102, 0.16);
	}
}

.start-tarif__tbody {
	& tr {
	border-bottom: none;
	border-top: none;
		&:hover td {
			color: #fff;
			background-color: rgba(183,33,38,0.39);
		}
		&:nth-child(even) {
			background-color: #F8F8F8;
		}
		&:nth-child(odd) {
			background-color: #fff;
		}
	}
	& td {
		padding: 1.1667vh 0.463vh;
	}
}

#th--title {
	width: 29vh;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
}

.td--width {
	width: 33.3%
}

#th--no-border-down {
	border-bottom: none;
}

#th--border-top {
	border-top: 0.0926vh solid rgba(102, 102, 102, 0.16);
}

#th--border-right {
	border-right: 0.0926vh solid rgba(102, 102, 102, 0.16);
}


.table--consal {
	margin-bottom: 0;
}

.info-block--tariff {
	margin: 4.6296vh 0 4.6296vh 11.1111vh;
}

// Блок подписки на рассылку 
.subs {
	display: flex;
	justify-content: space-evenly;
  align-items: center;
	background-color: #FFFFFF;
	box-shadow: 0vh 0vh 4.6296vh rgba(133, 133, 133, 0.14);
	height: 15.7407vh;
	&__title {
		font-weight: normal;
		font-size: 1.6667vh;
		line-height: 2.2222vh;
		color: #303030;
		max-width: 38.8889vh;
	}
	&__btn {
		width: 19.9074vh;
	}
	&__form {
		display: flex;
		flex-direction: column;
		margin-top: -2vh;
	}
	&__label {
		font-weight: normal;
		font-size: 1.6667vh;
		line-height: 1.4815vh;
		margin-bottom: 1.0185vh;
		color: #666;
	}
	&__input {
		height: 5.0926vh;
		width: 37.3148vh;
		border: 0.0926vh solid #DFDFDF;
		background-color: #F8F8F8;
		padding-left: 1vh;
		font-size: 1.6667vh;
		line-height: 2.2222vh;
		-moz-appearance: textfield;
		&::-webkit-inner-spin-button { 
			display: none;
		}
		&::placeholder {
			font-size: 1.6667vh;
			line-height: 2.2222vh;
			color: #D9D9D9;
		}
	}
}

// Хак для IE
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	.subs {
		&__title {
			margin-left: 7vh;
		}
		&__form {
			margin: -2vh 8vh 0 8vh;
		}
	}
}

// ==================================================//
// 				Страница	news.html				
// ================================================//

// Заголовок в блоке новостей
.date-wrap {
	display: flex;
	align-items: center;
	height: 2vh;
	time {
		font-weight: normal;
		font-size: 1.2963vh;
		line-height: 1.4815vh;
		color: #666;
	}
}
.point {
	width: 1.2963vh;
	height: 1.2963vh;
	background-color: $color-red;
	margin-right: 0.7037vh;
}

// Аккардион в Новостях
.ac-container {
    width: 100%;
    margin: 0 auto;
	& label {
		display: block;
		height: 2.7778vh;
		position: relative;
		z-index: 20;
		font-weight: normal;
		font-size: 1.8519vh;
		line-height: 2.5vh;
		color: #000000;
		padding: 0.463vh 1.8519vh;
		cursor: pointer;
	}
	& label:hover{
		color: $color-red;
	}
	& input:checked + label,
	& input:checked + label:hover{
		color: green;
	}
	& input{
		display: none;
	}
	& article {
		position: relative;
		z-index: 10;
		max-height: 0vh;
		margin: 2vh 2vh 2vh 0;
		background-color: rgba(255, 255, 255, 0.5);
		overflow: hidden;
		transition: max-height 0.15s ease-out;
	}
	& article p {
		margin-left: 10.6481vh;
		font-weight: normal;
		font-size: 1.6667vh;
		line-height: 2.2222vh;
		color: #303033;
	}
	& article a {
		color: #C61B1B;
	}
	& article img {
		max-width: 65.463vh;
		max-height: 38.2407vh;
		margin: 0 0 2vh 10.6481vh;
	}
	& input:checked ~ article {
		max-height: 99vh;
		transition: max-height 0.25s ease-in;
	}
	& input:checked ~ .date-wrap .point {
		background-color: #666;
	}
}

// Фильтры в блоке новостей
.form-news {
	display: flex;
	align-items: flex-end;
	position: relative;
	width: 100%;
	margin: 0 auto 4.6296vh auto;
	&__label {
		width: 13.8889vh;
		margin-bottom: 1.0185vh;
		font-weight: normal;
		font-size: 1.6667vh;
		line-height: 2.2222vh;
		color: #000000;
	}
	&__label--border {
		margin-left: 1vh;
		color: #666;
		width: 1vh;
	}
	&__select {
		height: 3.8889vh;
		width: 11.2593vh;
		font-size: 1.6667vh;
		padding-left: 1vh;
		line-height: 2.2222vh;
		border: none;
		background: url('../img/icon/system/arrow-select.svg') no-repeat center;
		background-size: 1.8519vh 0.8333vh;
		-webkit-appearance: none;
		background-position-x: 97%;
		color: #666;
		cursor: pointer;
		&::-ms-expand {
			display: none;
		}
	}
	&__select--year {
		width: 8vh;
	}
}

// Постраничная Пагинация в Новостях и Акциях
.pagination {
	height: 3vh;
	margin-bottom: 7.4074vh;
}

#pagination-digg {
	display: flex;
	& ul {
		height: 100%;
	}
	& li {
		font-size: 1.0185vh;
		list-style: none;
		font-weight: normal;
		font-size: 1.2963vh;
		color: #666;
	}
	&  a {
		margin: 0 0.5vh;
	}
	& .previous-off,
	& .next-off {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.3148vh;
		height: 2.3148vh;
		color:#888888;
	}
	& .next,
	& .previous {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		color:#888888;
	}
	& .next {
		margin-left: -0.5vh;
	}
	& .previous {
		margin-right: -0.5vh;
	}
	& .next a,
	& .previous a {
		font-weight: bold;
	}
	& .active{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.3148vh;
		height: 2.3148vh;
		background-color: #C61B1B;
		border-radius: 100%;
		color: #fff;
	}
	& a:link,
	& a:visited {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 2.3148vh;
		height: 2.3148vh;
		color: #666;
		text-decoration:none;
	}
	& .previous-off img,
	& .next img {
		width: .8vh;
	}
	& a:hover{
		background-color: #C61B1B;
		border-radius: 100%;
		color: #fff;
	}
}


// ==================================================//
// 			Главная	Страница	index.html			
// ================================================//

.banners {
	margin-top: 5.5556vh;
}

// Slick Slider
.slider img {
	max-width: 133.3333vh;
	max-height: 56.4815vh;
	margin: 0 auto;
}
.slick-dots li {
	width: 5vh !important;
	height: 0.25vh !important;
	margin: 0 !important;
	background: #C2C2C2;
}

.slick-active {
	height: 0.25vh !important;
	background: $color-red !important;
	border-radius: 0.2778vh;
}

.slick-dots li button {
	display: none !important;
}

// Переваги DelTruck
.benefits {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 3vh;
	padding: 5vh 0;
	&__item {
		width: 21.2963vh;
		height: 21.2963vh;
		background-color: #FFFFFF;
		border: 0.0926vh solid transparent;
		box-shadow: 0vh 0vh 4.6296vh rgba(133, 133, 133, 0.14);
		border-radius: 0.2778vh;
		transition: ease .5s all;
		.item__img, .item__info  {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 80%;
			height: 50%;
			margin: 0 auto;
			img {
				width: 5.2778vh;
				height: 5.2778vh;
			}
		}
		.item__info {
			border-top: 0.0926vh solid #E7E7E7;
			h5 {
				font-weight: normal;
				font-size: 1.6667vh;
				line-height: 2.1296vh;
				color: #303030;
			}
		}
	}
	&__item--flight-search {
		width: 21.2963vh;
		height: 23.1481vh;
		position: relative;
		background-color: transparent;
		.item__img {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			position: relative;
			z-index: 30;
		}
		.item__info {
			background-color: #fff;
			p {
				font-size: 1.4815vh;
				line-height: 1.9444vh;
			}
		}
		.item__number {
			position: absolute;
			z-index: 2;
			top: -2.1vh;
			left: 2vh;
			font-weight: bold;
			font-size: 4.1667vh;
			line-height: 1.4815vh;
			color: rgba(0, 0, 0, 0.04);
		}
	}
	&__item:hover {
		margin-top: -2vh;
		border: 0.0926vh solid rgba(183, 33, 38, 0.19);
		box-sizing: border-box;
		box-shadow: 0vh 0vh 3.7037vh rgba(236, 0, 8, 0.05);
		transition: ease .5s all;
	}
	&__item:hover .item__number {
		color: rgba(183, 33, 38, 0.39);
		transition: ease .5s all;
	}
}

// Форма обратной связи на Главной Странице

.application {
	display: flex;
	justify-content: space-evenly;
  align-items: center;
	height: 51.4815vh;
	background-color: #FFFFFF;
	box-shadow: 0vh 0vh 4.6296vh rgba(133, 133, 133, 0.14);
	margin-bottom: 10vh;
	.right-block, .left-block {
		width: 50%;
	}
	.left-block {
		display: flex;
		flex-direction: column;
		padding-left: 11.3889vh;
		margin-top: -7vh;
		&__title {
			max-width: 46.1111vh;
			font-weight: bold;
			font-size: 2.7778vh;
			line-height: 3.7037vh;
			color: #303030;
			margin-bottom: 4.6296vh;
		}
		&__btn {
			margin-bottom: 4.6296vh;
		}
		&__btn--grey {
			border: 0.1852vh solid #666;
			color: #666;
			&:hover {
				background-color: #666;
			}
		}
	}
	.right-block {
		position: relative;
		padding-left: 7.963vh;
		&::before {
			content: ' ';
			position: absolute;
			top: 19vh;
			left: -16vh;
			width: 32.4074vh;
			height: 0.0926vh;
			transform: rotate(90deg);
			background-color: #DFDFDF;
		}
		&__text {
			font-weight: normal;
			font-size: 1.8519vh;
			line-height: 2.5vh;
			color: #303030;
			margin-bottom: 4.6296vh;
		}
		&__form {
			display: flex;
			flex-direction: column;
			margin-bottom: 2.7778vh;
		}
		&__label {
			font-weight: normal;
			font-size: 1.6667vh;
			line-height: 1.4815vh;
			margin-bottom: 1.0185vh;
			color: #666;
		}
		&__input {
			height: 5.0926vh;
			width: 37.3148vh;
			border: 0.0926vh solid #DFDFDF;
			background-color: #F8F8F8;
			padding-left: 1vh;
			font-size: 1.6667vh;
			line-height: 2.2222vh;
			-moz-appearance: textfield;
			&::-webkit-inner-spin-button { 
				display: none;
			}
			&::placeholder {
				font-size: 1.6667vh;
				line-height: 2.2222vh;
				color: #D9D9D9;
			}
		}
		&__btn {
			margin-top: 2.7778vh;
			width: 19.3519vh;
		}
	}  
}

// Блок "Как мы работаем" на index.html
.as-we-work {
	display: flex;
	justify-content: space-between;
	margin-top: 4.6296vh;
	.ua-map {
		max-width: 52.5926vh;
		margin-top: -5vh;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	.step {
		&__item {
			display: flex;
			align-items: center;
			max-width: 56.6667vh;
			margin-bottom: 2.7778vh;
			transition: all 0.25s ease;
			&:hover .step__number {
				color: rgba(183, 33, 38, 0.7);
				transition: all 0.25s ease;
			}
		}
		&__item--center {
			margin-left: 11.2963vh;
		}
		&__number {
			margin-right: 0.9259vh;
			font-weight: bold;
			font-size: 4.1667vh;
			line-height: 3.3vh;
			color: rgba(183, 33, 38, 0.39);
		}
		&__text {
			font-weight: normal;
			font-size: 1.6667vh;
			line-height: 2.2222vh;
			color: #303030;
		}
	}
}

// Блок "Наши результаты" на index.html
.results {
	display: flex;
  flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 3vh;
	margin-bottom: 9.2593vh;
	.results__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 33.4074vh;
	}
	.results__item:hover .results__img {
		box-shadow: 0vh 0vh 3.7037vh rgba(236, 0, 8, 0.05);
		border: 0.0926vh solid rgba(183, 33, 38, 0.19);
		transition: ease 0.5s all;
	}
	.results__img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 9.7222vh;
		height: 9.7222vh;
		transition: ease 0.25s all;
		border: 0.0926vh solid #fff;
		margin-right: 2vh;
		background-color: #FFFFFF;
		border-radius: 50%;
		box-shadow: 0vh 0vh 4.6296vh rgba(133, 133, 133, 0.1);
		img {
			height: 4.6296vh;
		}
		#img--small {
			height: 4.0185vh;
		}
	}
	.results__info {
		display: flex;
		flex-direction: column;
		.results__title {
			margin-bottom: 1.8519vh;
			font-weight: bold;
			font-size: 4.1667vh;
			line-height: 1.4815vh;
			color: $color-red;
		}
		.results__text {
			display: inline-block;
			font-weight: normal;
			font-size: 1.6667vh;
			line-height: 2.2222vh;
			color: #303030;
		}
	}
}
// Горизонтальный блок новостей на главной странице
.news-home {
	display: flex;
	margin: 2.037vh 0 5vh 0;
	a {
		position: relative;
		margin-right: 1vh;
		padding-right: 0.5vh;
		border-right: 0.0926vh solid #ECECEC;
	}
	&__item {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 32.0074vh;
		&:hover .title {
			color: $color-red;
		}
		&:hover .point {
			background-color: #666;
		}
		&:hover img {
			right: 1vh;
		}
		img {
			position: absolute;
			right: 2vh;
			bottom: .5vh;
			width: 1.2963vh;
			transition: all .2s ease-in-out;
		}
	}
	.date-wrap {
		display: flex;
		align-items: center;
		height: 2vh;
		time {
			font-weight: normal;
			font-size: 1.2963vh;
			line-height: 1.4815vh;
			color: #666;
		}
	}
	.point {
		width: 1.2963vh;
		height: 1.2963vh;
		background-color: $color-red;
		margin-right: 0.7037vh;
	}
	.title {
		margin: 1.1111vh 0 0 1.5vh;
		font-weight: normal;
		color: #303030;
		font-size: 1.6667vh;
		line-height: 2.2vh;
	}
}

// ==================================================//
// 			Страница	action.html					
// ================================================//

.action {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 91%;
	margin: 0 auto 3.4074vh auto;
	a {
		margin-bottom: 4vh;
	}
	a:hover .item__btn {
		background-color: #DADADA;
		transition: all .2s linear;
	}
	a:hover .item__title h3 {
		color: $color-red;
		transition: all .3s linear;
	}
	&__item:hover {
		opacity: .9;
		transform: scale(1.01);
		transition: all .2s linear;
	}
	&__item {
		box-shadow: 0vh 0vh 4.6296vh rgba(133, 133, 133, 0.14);
		border-radius: 0.2778vh;
		.item__img {
			width: 54.537vh;
			height: 31.9444vh;
			position: relative;
		}
		.item__title {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 54.537vh;
			height: 11.3889vh;
			margin-top: -0.5vh;
			background-color: #FFFFFF;
			h3 {
				max-width: 42.5vh;
				margin-left: 2.7778vh;
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;
				font-size: 1.6667vh;
				line-height: 2.037vh;
				text-transform: uppercase;
				color: #303030;
			}
			.item__btn {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 4.6296vh;
				height: 100%;
				background: linear-gradient(180deg, rgba(236, 0, 8, 0.8) 0%, rgba(183, 33, 38, 0.8) 100%);
				border-radius: 0vh 0vh 0.2778vh 0vh;
				img {
					width: 1.3889vh;
					height: 2.5vh;
				}
			}
		}
	}
}

// ===================================================//
// 			Страница	action-page-1.html		  	
// 			открытая страница Акции					
// ================================================//

.action-page {
	display: flex;
	margin-bottom: 8.3333vh;
	&__img {
		width: 65.2778vh;
		height: 38.3333vh;
		position: relative;
	}
	&__info {
		margin-left: 2.7778vh;
		.info__title {
			max-width: 42.5vh;
			margin-bottom: 1.5vh;
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;
			font-size: 1.6667vh;
			line-height: 2.037vh;
			text-transform: uppercase;
			color: #303030;
		}
		.info__text {
			max-width: 60.8148vh;
			font-weight: normal;
			font-size: 1.6667vh;
			line-height: 2.2222vh;
			color: #000000;
		}
	}
	.info-btn {
		display: flex;
		margin-top: 4.6296vh;
		&__btn--grey {
			border: 0.1852vh solid #666;
			color: #666;
			margin-left: 2vh;
			&:hover {
				background-color: #666;
			}
		}
	}
}


// ===================================================//
// 			Страница	car-order.html										
// ================================================//

.car-order {
	width: 85%;
	margin: 3vh auto 7vh auto;
	padding: 2.7778vh 0 2.7778vh 0;
	background-color: #FFFFFF;
	box-shadow: 0vh 0vh 4.6296vh rgba(133, 133, 133, 0.14);
	border-radius: 0.2778vh;
	&__inner {
		width: 96%;
		margin: 0 auto;
	}
	&__heading {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 5.5556vh;
		margin: 2.7778vh 0 4.6296vh 0;
		background-color: #F8F8F8;
		border-radius: 0.2778vh;
		h2 {
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;
			font-size: 1.6667vh;
			line-height: 1.6667vh;
			letter-spacing: 0.0463vh;
			text-transform: uppercase;
			color: #303030;
		}
	}
	&__heading:first-child {
		margin-top: 0;
	}
	&__heading--no-bg {
		background-color: transparent;
	}
}

// Карта
.map {
	display: flex;
	justify-content: center;
	width: 87.963vh;
	height: 46.2963vh;
	margin: 0 auto 4.6296vh auto;
}

// Блок Формы заявки
.car-order__group {
	display: flex;
	justify-content: space-between;
	width: 85%;
  margin: 0 auto 2.2222vh auto;
	.car-order__form--btn {
		display: flex;
		justify-content: center;
	}
	.car-order__form--padding {
		padding-right: 0.5vh;
	}
	.car-order__form {
		position: relative;
		width: 42.5926vh;
		height: max-content;
		.form__label {
			font-weight: normal;
			font-size: 1.6667vh;
			line-height: 2.2222vh;
			margin-bottom: 0.9259vh;
			color: #303030;
		}
		.form__input {
			height: 3.8889vh;
			width: 100%;
			border: 0.0926vh solid #D9D9D9;
			padding-left: 1vh;
			margin-top: 0.9259vh;
			font-size: 1.6667vh;
			line-height: 2.2222vh;
			-moz-appearance: textfield;
			&::-webkit-inner-spin-button { 
				display: none;
			}
			&::placeholder {
				font-size: 1.6667vh;
				line-height: 2.2222vh;
				color: #D9D9D9;
			}
		}
		.form__textarea {
			padding-top: 0.7vh;
			margin-bottom: 2.4296vh;
		}
		.form__select {
			height: 3.8889vh;
			width: 100%;
			font-size: 1.6667vh;
			padding-left: 1vh;
			margin-top: 0.9259vh;
			line-height: 2.2222vh;
			border: 0.0926vh solid #D9D9D9;
			background: url('../img/icon/system/arrow-select.svg') no-repeat center;
			background-size: 1.8519vh 0.8333vh;
			-webkit-appearance: none;
			background-position-x: 97%;
			cursor: pointer;
			&::-ms-expand {
				display: none;
			}
		}
		.form__link {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			margin-top: 3.7vh;
			font-weight: bold;
			font-size: 1.6667vh;
			line-height: 2.2222vh;
			color: $color-red;
			&:hover {
				color: #666;
			}
		}
		.form__btn {
			margin-top: 3vh;
		}
		.form__btn--grey {
			border: 0.1852vh solid #666;
			color: #666;
			margin: 2vh 0 0 5vh;
			&:hover {
				background-color: #666;
			}
		}
	}
	.form-small-wrap {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto;
	}
	.form--small {
		width: 20.1074vh;
		margin: 0;
		.form__select {
			background-position-x: 92%;
		}
	}
	.form--small-center {
		width: 20.1074vh;
		margin: 0 auto 3vh auto;
	}
}

// Секция "Додаткові послуги"
.car-order--add {
	width: 85%;
	margin: 0 auto 4.6296vh auto;
	label {
		margin: 0 0 1.8519vh 1vh;
	}
}


// ===================================================//
// 		Страница	coefficient.html		  		 
// ================================================//

.coef {
	width: 100%;
	background-color: #FFFFFF;
	box-shadow: 0vh 0vh 4.6296vh rgba(133, 133, 133, 0.14);
	border-radius: 0.2778vh;
	padding: 2.7778vh 0 2.7778vh 0;
	margin: 4.1667vh auto 0 auto;
}

.table-coef {
	width: 96%;
	margin: 0 auto;
	text-decoration: none;
	width: 100%;
	text-align: center;
	margin-bottom: 2.7778vh;

	&:last-child {
		margin-bottom: 0;
	}

	.table__heading, .table__info {
		width: 100%;
		border-collapse: collapse;
	}

	.table__heading {
		margin-bottom: 2vh;
		th {
			width: 25%;
			height: 5.5556vh;
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;
			font-size: 1.6667vh;
			line-height: 1.6667vh;
			text-align: center;
			letter-spacing: 0.0463vh;
			text-transform: uppercase;
			color: #303030;
			background-color:#F8F8F8;
		}
		th:nth-child(2) {
			border-right: 1px solid #666;
			border-left: 1px solid #666;
		}
		th:first-child {
			width: 37.5%;
			padding-left: 2vh;
		}
		th:last-child {
			width: 37.5%;
			padding-right: 2vh;
		}
	}

	.table__info {
		& td {
			width: 25%;
			height: 4.7037vh;
			font-size: 1.6667vh;
			color: #000000;
			background-color: transparent;
			line-height: 1.8519vh;
		}
		tr:nth-child(even) {
			background-color: #fff;
		}
		tr:nth-child(odd) {
			background-color: #F8F8F8;
		}
		td:first-child {
			width: 37.5%;
			text-align: left;
			padding-left: 2vh;
		}
		td:last-child {
			width: 37.5%;
			text-align: right;
			padding-right: 2vh;
		}
		td:nth-child(2) {
			border-right: 1px solid #666;
			border-left: 1px solid #666;
		}
		tr:hover {
			background-color: rgba(183,33,38,0.39);
			& td {
				color: #fff;
			}
		}
	}
}


// ===================================================//
// 		Страница	flight-search.html		  		 
// ================================================//

.ac-label__left, .ac-label__right {
	display: flex;
	width: 65%;
}

.ac-label__right {
	width: 35%;
}

.flight {
	background-color: #FFFFFF;
	box-shadow: 0vh 0vh 4.6296vh rgba(133, 133, 133, 0.14);
	border-radius: 0.2778vh;
	padding: 4.6296vh 2.7778vh;
	margin-bottom: 9.0741vh;
	.ac-label__heading {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 3vh;
		border-right: 0.0926vh solid black;
		transition: all 0.15s ease-out;
		& p:first-child {
			display:none;
		}
	}
	.city {
		justify-content: flex-start;
		font-weight: bold;
		padding-left: 8.7037vh;
		width: 65%;
		text-align: left;
	}
	.date {
		width: 35%;
		span {
			color: $color-red;
			padding-left: 0.9259vh;
		}
	}
	.free-place {
		width: 50%;
	}
	.price {
		color: $color-red;
		border-right: none;
		width: 50%;
	}
}



.flight__heading {
	display: flex;
	font-weight: normal;
	margin-bottom: 1.6667vh;
	font-size: 1.4815vh;
	line-height: 1.9444vh;
	color: #666;
	text-align: center;
	.city {
		padding-left: 0;
	}
}


// Форма выбора городов
.flight__form {
	display: flex;
	justify-content: space-between;
  align-items: center;
	margin-bottom: 4.6296vh;
	.form__label {
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		font-size: 1.6667vh;
		line-height: 1.6667vh;
		margin-bottom: 0.9259vh;
		color: #303030;
		text-transform: uppercase;
	}
	.form__select {
		height: 5.5556vh;
		width: 45.5556vh;
		font-size: 1.6667vh;
		padding-left: 1vh;
		margin-top: 0.9259vh;
		line-height: 2.2222vh;
		border: 0.0926vh solid #D9D9D9;
		background: url('../img/icon/system/arrow-select.svg') no-repeat center;
		background-size: 1.8519vh 0.8333vh;
		-webkit-appearance: none;
		background-position-x: 97%;
		cursor: pointer;
		&::-ms-expand {
			display: none;
		}
		option,
		option:hover,
		option:focus {
		color: #666;
		font-size: 1.6667vh;
		}
	}
	.form__btn {
		margin-top: 2.2vh;
	}
}

// Аккардион на странице Пошук Рейсу
.ac-flight {
	width: 100%;
	margin: 0 auto;
	.ac-label {
		background-color: #F8F8F8;
	}
	.ac-label--white {
		background-color: #fff;
	}
	& label {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 20;
		font-weight: normal;
		font-size: 1.6667vh;
		line-height: 2.2222vh;
		color: #303030;
		border: 1px solid transparent;
		height: 5.5556vh;
		cursor: pointer;
		transition: ease 0.5s all;
		&:hover {
			box-shadow: 0vh 0vh 3.7037vh rgba(236, 0, 8, 0.05);
			border: 0.0926vh solid rgba(183, 33, 38, 0.19);
			transition: ease 0.5s all;
		}
	}
	& input:checked + label,
	& input:checked + label:hover{
		color: #303030;
	}
	& input {
		display: none;
	}
	& article {
		background-color: rgba(255, 255, 255, 0.5);
		overflow: hidden;
		max-height: 0vh;
		position: relative;
		z-index: 10;
		transition: max-height 0.15s ease-out;
		.flight-info {
			display: flex;
			margin-top: 2vh;
		}
		.flight-info__type {
			width: 65%;
		}
		.flight-info__container {
			width: 35%;
			display: flex;
			text-align: center;
		}
		.flight-info__place {
			width: 50%;
		}
		.flight-info__price {
			width: 50%;
		}
		.flight-info__title {
			font-weight: bold;
			font-size: 1.4815vh;
			line-height: 1.9444vh;
			color: #666;
			margin-bottom: 0.5vh;
			span {
				color: $color-red;
			}
		}
		& p {
			font-weight: normal;
			font-size: 1.4815vh;
			line-height: 2.7vh;
			color: #666;
		}
		.flight-time {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 3.7778vh 0 2vh 0;
		}
	}
	& input:checked ~ article {
		max-height: 99vh;
		transition: max-height 0.25s ease-in;
	}
}


// Корисні посилання в flight-search.html
.useful-links {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 85%;
  margin: 0 auto;
	img {
		width: 33.3333vh;
		height: 21.7593vh;
		transition: all .2s ease;
		&:hover {
			transform: scale(1.02);
			transition: all .3s ease;
		}
	}
}


// ===================================================//
// 				Уведомление Pop-Up			  		 
// ================================================//

#subscribe__box, #request__box {
	display: none;
	position: fixed;
	right: 2vh; 
	bottom: 2vh; 
	z-index: 9999;
	width: 50.8333vh;
	height: 29.6296vh;
	background-color: #FFFFFF;
	border: 0.0926vh solid #26BC0D;
	-webkit-box-shadow: 0vh 0.463vh 0.463vh 0.2778vh rgba(0, 0, 0, 0.3); 
	box-shadow: 0vh 0.463vh 0.463vh 0.2778vh rgba(0, 0, 0, 0.3); 
	-webkit-border-radius: 0.2778vh; 
	border-radius: 0.2778vh;
	#box_text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		margin-bottom: -2vh;
		p {
			font-family: 'Segoe UI';
			font-weight: normal;
			font-size: 1.8519vh;
			line-height: 2.5vh;
			text-align: center;
			color: #303030;
		}
		img {
			margin: -4vh 0 2vh 0;
			width: 6.0185vh;
		}
	}
}














.header--mobile, .footer--mobile {
	display: none;
}


@import 'media'; // media









// Шрифты которые используются:

// 	font-family: 'Montserrat', sans-serif;
// 	font-family: 'Segoe UI';

