/*-------------------------------------------------------------

    Project:        X
    Author:         Anton Shaposhnikov
	Telegram:		https://t.me/hesoyam_666
    Website:        https://666hesoyam.github.io/portfolio/

--------------------------------------------------------------*/


// default
// ============================================================

@import 'mixins'; // Mixins
@import 'variables'; // Variables

html {overflow-x: hidden; box-sizing: border-box;}

body {
	font-family: 'Segoe UI';
	background-color: #fff;
	color: #303030;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

a, a:focus, a:hover, a:active {
	outline: 0;
	color: inherit;
	text-decoration: none;
}

:active,
:focus {outline: none;}

// ======================//
// 		MAIN STYLE 		//
// ====================//

.header {
	width: 100%;
	height: 17.7778vh;
	&__nav {
		height: 5.5556vh;
		width: 100%;
		background-color: #E6E6E6;
	}
	&__inner {
		display: flex;
		align-items: center;
		height: 100%;
	}
	&__logo {
		width: 27.037vh;
		height: 10.3704vh;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 1vh;
	}
	&__title {
		text-align: left;
		margin-left: 4.6296vh;
		h3 {
			font-weight: bold;
			font-size: 2.3148vh;
			line-height: 2.2222vh;
			color: #333333;
			margin-bottom: 1.2037vh;
		}
		p {
			font-weight: normal;
			font-size: 1.8519vh;
			line-height: 1.8519vh;
			color: #000;
		}
	}
}

.header__hot-line {
	width: 31.9444vh;
	margin-right: 1vh;
	.hot-line__alert {
		display: inline-block;
		font-weight: normal;
		font-size: 1.2963vh;
		line-height: 1.4815vh;
		color: #999999;
		margin-left: 2vh;
	}
}

.hot-line {
	display: flex;
	align-items: center;
	&__icon {
		width: 3.7963vh;
		height: 3.7963vh;
		background-color: #B72126;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 2.037vh;
			height: 2.037vh;
		}
	}
	&__number {
		margin-left: 1vh;
		color: #303030;
		.number__title {
			font-weight: normal;
			font-size: 1.4815vh;
			line-height: 1.8519vh;
		}
		.number__num {
			font-weight: 600;
			font-size: 3.2407vh;
			line-height: 2.963vh;
		}
	}
}




.container {
	margin: 0 auto;
	height: 100%;
	max-width: 133.3333vh;
	padding: 0 1vh;
}


.nav {
	width: 100%;
	height: 100%;
	background-color: #E6E6E6;
	a {
	text-decoration: none;
	}
	.nav__ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		display: flex;
		justify-content: space-evenly;
		height: 100%;
	}

	.nav__li-title {
		width: 100%;
		text-align: center;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1vh 0;
		position: relative;
		text-decoration: none;
		transition-duration: 0.5s;

		font-size: 1.3889vh;
		line-height: 1.8519vh;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		font-weight: 400;
		&--long {
			width: 124%;
		}
	}
	
	.nav__li-title a {
		color: #303030;
	}

	.nav__li-title:hover,
	.nav__li-title:focus-within {
		background: #B72126;
		cursor: pointer;
		color: #fff;
	}
	.dropdown__li {
		text-align: left;
		font-size: 1.6667vh;
		line-height: 1.8519vh;
		height: 4.6296vh;
		display: flex;
		align-items: center;
		text-transform: none;
		a {
			padding: 1.3vh;
			width: 100%;
		}
		&:hover {
			background-color: #B72126;
		}
	}
	.dropdown__li:hover .link,
	.dropdown__li:focus-within .link {
		color: #fff;
	}

	.nav__li-title:focus-within a {
		outline: none;
	}

	.nav__ul .nav__li-title .dropdown {
		background: #E6E6E6;
		visibility: hidden;
		opacity: 0;
		min-width: 29.8148vh;
		position: absolute;
		transition: all 0.5s ease;
		top: 5.5vh;
		left: 0;
		display: none;
	}

	.nav__ul .nav__li-title:hover > .dropdown,
	.nav__ul .nav__li-title:focus-within > .dropdown,
	.nav__ul .nav__li-title .dropdown:hover,
	.nav__ul .nav__li-title .dropdown:focus {
		visibility: visible;
		opacity: 1;
		display: block;
	}

	.nav__ul .nav__li-title .dropdown .dropdown__li {
		clear: both;
		width: 100%;
		list-style-type: none;
	}
}


.new, .new--white {
	color: #fff;
	font-weight: normal;
	font-size: 1.3889vh;
	line-height: 2.1815vh;
	text-align: center;
	letter-spacing: 0.0463vh;
	text-transform: uppercase;
	background: #B72126;
	border-radius: 1000px;
	width: 5.5556vh;
	height: 2.2222vh;
	margin-left: 0.4vh;
}

.nav__li-title:hover .new {
	background-color: #fff;
	color: #000;
}

.new--white {
	background-color: #fff;
	color: #B72126;
	display: inline-block;
}




.services__heading {
	margin-bottom: 6.4815vh;
}

.heading {
	width: 100%;
	height: 56.2037vh;
	background: url('../img/haeding-truck.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;

	display: flex;
    align-items: flex-end;
	&__title {
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 4.6296vh;
		line-height: 5.6481vh;
		color: #FFFFFF;
		max-width: 89.2407vh;
		padding: 5vh 0 10.1852vh 11.1111vh;
		margin: 0;
	}
}














.order {
	display: flex;
	background: #FFFFFF;
	box-shadow: 0px 0px 50px rgba(133, 133, 133, 0.14);
	border-radius: 3px;
	width: 100%;
	margin-top: 8.3333vh;
}


.info {
	width: 50%;
	padding: 4.7222vh 5.5556vh 3.2407vh 5.5556vh;
	&__sub-title {
		font-family: 'Segoe UI';
		font-weight: bold;
		color: #303030;
		margin-bottom: 3.7037vh;

		font-size: 2.7778vh;
		line-height: 3.5185vh;
	}
	&__text {
		font-weight: normal;
		color: #303030;
		max-width: 51.8519vh;
		font-size: 1.8519vh;
		line-height: 1.9444vh;
	}
	&__img {
		max-width: 41.5741vh;
		height: 29.6296vh;
		margin: 12.037vh auto 0 auto;
		img {
			width: 100%;
		}
	}
}

.request {
	width: 50%;
	padding: 4.7222vh 5.5556vh 3.2407vh 5.5556vh;
	&__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		font-size: 1.6667vh;
		line-height: 1.6667vh;
		text-align: center;
		letter-spacing: 0.0463vh;
		text-transform: uppercase;
		color: #303030;
		margin-bottom: 4.6296vh;
	}
	&__group {
		margin: 0 auto;
		width: 41.6667vh;
	}
}


.form {
	display: flex;
    flex-direction: column;
	margin: 0 auto;
	margin-bottom: 2.1296vh;
	width: 100%;
	position: relative;
	&__label {
		font-family: 'Segoe UI';
		font-style: normal;
		font-weight: normal;
		font-size: 1.6667vh;
		line-height: 2.2222vh;
		margin-bottom: 1.0185vh;
		color: #303030;
	}
	&__input {
		height: 3.8889vh;
		width: 100%;
		border: 1px solid #D9D9D9;
		padding-left: 1vh;
		font-size: 1.6667vh;
		line-height: 2.2222vh;
		&::placeholder {
			font-size: 1.6667vh;
			line-height: 2.2222vh;
			color: #D9D9D9;
		}
	}
	&__select {
		height: 3.8889vh;
		width: 100%;
		font-size: 1.6667vh;
		line-height: 2.2222vh;
		border: 1px solid #D9D9D9;
	}
	option,
	option:hover,
	option:focus {
	border:none;
	outline:none;
	font-size: 1.6667vh;
	box-shadow: none;
	}
}


.form-small-wrap {
	display: flex;
    justify-content: space-between;
	width: 100%;
	margin: 0 auto;

}

.form--small {
	width: 15.0926vh;
	margin: 0 0 3vh 0;
}



.request__btn {
	width: 31.4815vh;
	height: 5.5556vh;
	border: 2px solid #B72126;
	text-transform: uppercase;
	background-color: transparent;

	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.6667vh;
	line-height: 1.6667vh;
	text-align: center;
	letter-spacing: 0.5px;
	color: #B72126;
	&:hover {
		color: #fff;
		background-color: #B72126;
		cursor: pointer;
	}
}





.services__about {
	margin-top: 8.3333vh;
}

.about {
	display: flex;
	justify-content: space-between;
	&__heading {
		border-bottom: 2px solid #B72126;
		padding-bottom: 1.8519vh;
		h2 {
			text-transform: uppercase;
			font-family: 'Montserrat', sans-serif;
			font-size: 1.6667vh;
			line-height: 1.6667vh;
			font-weight: bold;
			color: #303030;
			letter-spacing: 0.0463vh;
		}
	}
}


.news, .advantages, .feedback {
	width: 41.0185vh;
}

.news-block {
	margin-top: 2.037vh;
	&__item {
		border-bottom: 1px solid #ECECEC;
		display: flex;
		justify-content: center;
		flex-direction: column;
		min-height: 10.3704vh;
		&:hover {
			opacity: .5;
		}
	}
	.date-wrap {
		display: flex;
		height: 2vh;
		align-items: center;
		time {
			font-family: 'Segoe UI';
			font-weight: normal;
			font-size: 1.2963vh;
			line-height: 1.4815vh;
			color: #666666;
		}
	}
	.point {
		width: 1.2963vh;
		height: 1.2963vh;
		background: #B72126;
		margin-right: 0.7037vh;
	}
	.title {
		font-family: 'Segoe UI';
		font-weight: normal;
		color: #303030;
		font-size: 1.6667vh;
		line-height: 2.2vh;
		margin-left: 1.5vh;
		margin-top: 1.1111vh;
	}
	.news-block__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 1.1vh;
		width: 13.9815vh;
		height: 3.1481vh;
		background: #F8F8F8;
		border-radius: 0.2778vh;
		p {
			display: flex;
			align-items: center;
			color: #666666;
			font-family: 'Segoe UI';
			text-align: center;
			font-size: 1.2963vh;
			height: 100%;
		}
		img {
			width: 1.6vh;
			margin-left: 0.5vh;
		}
		&:hover {
			opacity: .5;
		}
	}
}


.advantages-block {
	margin-top: 2.037vh;
	&__item {
		display: flex;
		align-items: center;
		border-bottom: 1px solid #ECECEC;
		display: flex;
		display: flex;
		justify-content: flex-start;
		min-height: 10.3704vh;
		.title {
			font-family: 'Segoe UI';
			font-weight: normal;
			color: #000;
			margin-left: 6.0185vh;
			font-size: 1.6667vh;
			line-height: 1.4815vh;
		}
		.img-wrap {
			height: 8.1111vh;
			display: flex;
			align-items: center;
			img {
				width: 6.1vh;
				height: 6.1vh;
			}
		}
	}
}


.feedback-block {
	margin-top: 2.037vh;
	&__item {
		padding-top: 1.5vh;
		.feedback-form {
			display: flex;
			flex-direction: column;
			margin: 0 auto;
			margin-bottom: 2.7778vh;
			width: 100%;
			position: relative;
			&__label {
				font-family: 'Segoe UI';
				font-style: normal;
				font-weight: normal;
				font-size: 1.8519vh;
				line-height: 1.4815vh;
				color: #666666;
				margin-bottom: 1.0185vh;
			}
			&__input {
				height: 5vh;
				width: 37.3148vh;
				background: #F8F8F8;
				border: 1px solid #DFDFDF;
				padding-left: 1vh;
				font-size: 2vh;
				&::placeholder {
					font-size: 1.8667vh;
					line-height: 2.2222vh;
					color: #D9D9D9;
				}
			}
			&__btn {
				width: 19.3519vh;
				height: 5.5556vh;
				border: 2px solid #B72126;
				text-transform: uppercase;
				background-color: transparent;
				font-family: 'Montserrat', sans-serif;
				font-weight: bold;
				font-size: 1.6667vh;
				line-height: 1.6667vh;
				text-align: center;
				letter-spacing: 0.5px;
				color: #B72126;
				&:hover {
					color: #fff;
					background-color: #B72126;
					cursor: pointer;
				}
			}
		}
	}
}




.footer {
	margin-top: 8.1481vh;
	background: #DADADA;
	&-info {
		display: flex;
		justify-content: space-between;
		padding-top: 3.0556vh;
		&__item {
			display: flex;
			flex-direction: column;
			&--new {
				margin-left: -15vh;
					h3 {
					display: flex;
				}
			}
			h3, a {
				font-family: 'Segoe UI';
				margin-bottom: 1.6667vh;
				line-height: 1.8519vh;
				letter-spacing: 0.5px;
			}
			h3 {
				font-style: normal;
				font-weight: 600;
				font-size: 1.6667vh;
				text-transform: uppercase;
				color: #303030;
			}
			a {
				color: #666666;
				font-size: 1.2963vh;
				&:hover {
					opacity: .6;
				}
			}
		}
		&__btn {
			width: 31.4815vh;
			height: 5.5556vh;
			margin-top: 4.1667vh;
			border: 2px solid #B72126;
			text-transform: uppercase;
			background-color: transparent;

			font-family: 'Montserrat', sans-serif;
			font-weight: bold;
			font-size: 1.6667vh;
			line-height: 1.6667vh;
			text-align: center;
			letter-spacing: 0.5px;
			color: #B72126;
			&:hover {
				color: #fff;
				background-color: #B72126;
				cursor: pointer;
			}
		}
	}
	&-adress {
		padding-bottom: 3.2407vh;
		p {
			font-style: normal;
			font-weight: normal;
			font-size: 1.2963vh;
			line-height: 2.8519vh;
			letter-spacing: 0.0463vh;
			color: #666666;
		}
	}
}


// @media screen and (max-width: 1280px) and (orientation: landscape) {
// 	.new, .new--white {
// 		line-height: 1.5vh;
// 	}
// }

// @media screen and (max-width: 1280px) and (max-height: 600px) and (orientation: landscape) {
// 	.new, .new--white {
// 		line-height: 1.7vh;
// 	}
// }





.tabs { 
	width: 100%;
	height: 95.3704vh;
	margin: 3vh auto 0 auto;
	background: transparent;
	position: relative;
	display: flex;
	justify-content: center;
	&__li {
		display: inline-flex;
		justify-content: center;
		width: 50%;
		height: fit-content;
	}
	&__input[type="radio"] {
		position: absolute;
		top: 0;
		left: -9999px;
	}
	&__label {
		font-family: 'Montserrat', sans-serif;
		font-weight: bold;
		font-size: 1.6667vh;
		line-height: 1.6667vh;
		text-align: center;
		letter-spacing: 0.0463vh;
		text-transform: uppercase;
		color: #666666;
		margin-bottom: 6.4815vh;

		background: #F8F8F8;
		border-radius: 3px 3px 0px 0px;
	

		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 8.3333vh;
		position: relative;
		top: -3.6vh;
		transition: .3s width ease-in-out; 
		&:hover {
			cursor: pointer;
			color: #B72126;
		}
	}
	.tab-content{
		z-index: 2;
		visibility: hidden;
		height: 0;
		width: 100%;
		font-size: 1.7vh;
		line-height: 2.5vh;
		padding: 0 0.5vh 0.5vh 0.5vh;  
		position: absolute;
		top: 5.3vh;
		left: 0; 
	}
	//The Magic
	[id^="tab"]:checked + .tabs__label { 
		color: #B72126;
		background-color: transparent;
		
	}
	// [id^="tab"]:checked + .tabs__label::before { 
	// 	content: " ";
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 30%;
	// 	width: 12vh;
	// 	height: 0.2vh;
	// 	background-color: #fff;
	// 	box-shadow: 0px 0px 8px 1px rgba(172,36,255,0.9), 0px 0px 50px 4px rgba(172,36,255,0.9);
	// }
	[id^="tab"]:checked ~ [id^="tab-content"] {
		visibility: visible;
		height: auto;
		display: flex;
	}
}
