<div class="container">
	<div class="about">
		<div class="news">
			<div class="about__heading">
				<h2><a href="in-dev.html">Новини</a></h2>
			</div>

			<div class="news-block">
				<a href="in-dev.html">
					<div class="news-block__item">
						<div class="date-wrap">
							<div class="point"></div>
							<time>31.01.2020</time>
						</div>
						<h3 class="title">Акція: Палети відправляй  весняний подарунок вигравай</h3>
					</div>
				</a>

				<a href="in-dev.html">
					<div class="news-block__item">
						<div class="date-wrap">
							<div class="point"></div>
							<time>28.01.2020</time>
						</div>
						<h3 class="title">DELTRUCK оновив маршрути послуги“ONLINE-ЗАМОВЛЕННЯ ПАЛЕТОМІСЦЬ В АВТО”</h3>
					</div>
				</a>

				<a href="in-dev.html">
					<div class="news-block__item">
						<div class="date-wrap">
							<div class="point"></div>
							<time>08.02.2019</time>
						</div>
						<h3 class="title">Акція “Зафрахтуємо - Довеземою Реєстратор надаємо!” </h3>
					</div>
				</a>

				<a href="in-dev.html">
					<div class="news-block__item">
						<div class="date-wrap">
							<div class="point"></div>
							<time>29.12.2018</time>
						</div>
						<h3 class="title">DELTRUCK вітає з прийдешнім Новим роком та Різдвом Христовим!</h3>
					</div>
				</a>

				<a href="in-dev.html">
					<div class="news-block__item">
						<div class="date-wrap">
							<div class="point"></div>
							<time>23.08.2018</time>
						</div>
						<h3 class="title">З Днем Державного Прапору та Днем Незалежності України!</h3>
					</div>
				</a>

				<a href="in-dev.html">
					<div class="news-block__btn">
						<p>Всі новини</p> 
						<img src="img/icon/arrow.png" alt="">
					</div>
				</a>
			</div>
		</div>

		<div class="advantages">
			<div class="about__heading">
				<h2>Переваги</h2>
			</div>

			<div class="advantages-block">
				<div class="advantages-block__item">
					<div class="img-wrap">
						<img src="img/icon/truck_icon.png" alt="">
					</div>
					<h3 class="title">Великий парк автомобілів</h3>
				</div>

				<div class="advantages-block__item">
					<div class="img-wrap">
						<img src="img/icon/time_truck_icon.png" alt="">
					</div>
					<h3 class="title">Подача автомобіля в максимально стислі терміни</h3>
				</div>

				<div class="advantages-block__item">
					<div class="img-wrap">
						<img src="img/icon/document_icon.png" alt="">
					</div>
					<h3 class="title">Оптимальна вартість перевезення</h3>
				</div>

				<div class="advantages-block__item">
					<div class="img-wrap">
						<img src="img/icon/track_icon.png" alt="">
					</div>
					<h3 class="title">Автоматичний контроль перевезення</h3>
				</div>

				<div class="advantages-block__item">
					<div class="img-wrap">
						<img src="img/icon/umbrella_icon.png" alt="">
					</div>
					<h3 class="title">Індивідуальне страхування</h3>
				</div>
			</div>
		</div>
		
		<div class="feedback">
			<div class="about__heading">
				<h2>Зворотній зв’язок</h2>
			</div>

			<div class="feedback-block">
				<div class="feedback-block__item">
					<form class="feedback-form">
						<label class="feedback-form__label">Ваше ім’я</label>
						<input class="feedback-form__input" type="text" placeholder=" ">
					</form>

					<form class="feedback-form">
						<label class="feedback-form__label">Номер на який ми зателефонуємо</label>
						<input class="feedback-form__input" type="tel" placeholder="+380" minlength="10" maxlength="13">
					</form>

					<button class="feedback-form__btn">Надіслати</button>
				</div>
			</div>
		</div>
	</div>
</div>