<div class="container">
	<div class="footer-info">
		<div class="footer-info__item">
			<h3>Послуги</h3>
			<a href="transit.html">Перевезення</a>
			<a href="in-dev.html">Додаткові послуги</a>
		</div>
		
		<div class="footer-info__item">
			<h3>Компанія</h3>
			<a href="in-dev.html">Про компанію</a>
			<a href="in-dev.html">Новини</a>
		</div>

		<div class="footer-info__item">
			<h3>Клієнтам</h3>
			<a href="in-dev.html">Тарифи</a>
			<a href="in-dev.html">Документація</a>
			<a href="in-dev.html">Акції</a>
		</div>

		<div class="footer-info__item footer-info__item--new">
			<a href="in-dev.html">
				<h3>Пошук рейсу <div class="new"><p>new</p></div></h3>
			</a>
		</div>

		<div class="footer-info__item">
			<button class="footer-info__btn">Замовити Авто</button>
		</div>

	</div>

	<div class="footer-adress">
		<p><a href="https://goo.gl/maps/vKWGc8AhjgQatZFs8" target="_blank">Україна 01024, м. Київ, вул. Велика Васильківська 15/2</a></p>
		<p>Гаряча лінія: <a href="tel:+38 (067) 62826 30">+38 (067) 62826 30</a></p>
	</div>
</div>