<div class="container">
	<div class="footer-info">
		<form class="footer-info__item" action="transit.html">
			<button class="main__btn footer-info__btn">Замовити Авто</button>
		</form>

		<!-- Hot line -->
			<div class="header__hot-line">
				<div class="hot-line">
					<div class="hot-line__icon">
						<a href="tel:067 628 26 30"><img src="img/icon/system/phone.svg" alt="Phone Icon"></a>
					</div>
					<div class="hot-line__number">
						<h5 class="number__title">гаряча лінія</h5>
						<a href="tel:067 628 26 30" class="number__num">(067) 628 26 30</a>
					</div>
				</div>
				<p class="hot-line__alert">*Безкоштовно з усіх операторів України</p>
			</div>
	</div>

	<div class="footer-adress">
		<p><a href="https://goo.gl/maps/vKWGc8AhjgQatZFs8" target="_blank">Україна 01024, м. Київ, вул. Велика Васильківська 15/2</a></p>
	</div>
</div>