<div class="container">
	<div class="header__inner">
			<a href="index.html"><img src="img/deltruck-logo.png" alt="DelTruck" class="header__logo"></a>
		<div class="header__wrapper">
			<!-- Hot line -->
			<div class="header__hot-line">
				<div class="hot-line">
					<div class="hot-line__icon">
						<a href="tel:067 628 26 30"><img src="img/icon/system/phone.svg" alt="Phone Icon"></a>
					</div>
				</div>
			</div>

			<div class="mob-nav">
				<nav id="nav">
					<ul>
						<li>
							<a href="#" aria-label="Close Navigation">
								<img class="nav-btn--close" src="img/icon/system/mob-nav__close.svg" alt="">
							</a>
						</li>

						<li><a href="in-dev.html">Головна</a></li>
						<li><a href="in-dev.html">замовлення авто</a></li>
						<li><a href="in-dev.html">Додаткові послуги</a></li>
						<li><a href="in-dev.html">Про компанію</a></li>
						<li><a href="in-dev.html">Тарифи</a></li>
						<li><a href="in-dev.html">Документація</a></li>
						<li><a href="in-dev.html">Акції</a></li>
						<li><a href="in-dev.html">Пошук рейсу</a></li>
						
					</ul>
				</nav>
				<a href="#nav" class="nav-btn" aria-label="Open Navigation">
					<img class="nav-btn--open" src="img/icon/system/mob-nav__open.svg" alt="">
				</a>
			</div>
			
		</div>
	</div>
</div>

<div class="header__nav">
	<div class="container">
		<nav class="nav" role="navigation">
			<ul class="nav__ul">
				<li class="nav__li">
					<a class="nav__title" href="index.html">Головна</a></li>
				<li class="nav__li">
					<p class="nav__title">Послуги</p>
					<ul class="drop__ul">
						<li class="drop__li"><a href="transit.html">Перевезення</a></li>
						<li class="drop__li"><a href="additional-services.html">Додаткові послуги</a></li>
					</ul>
				</li>

				<li class="nav__li">
					<p class="nav__title">Компанія</p>
					<ul class="drop__ul">
						<li class="drop__li"><a href="about-company.html">Про компанію</a></li>
						<li class="drop__li"><a href="news.html">Новини</a></li>
					</ul>
				</li>

				<li class="nav__li">
					<p class="nav__title">Клієнтам</p>
					<ul class="drop__ul">
						<li class="drop__li"><a href="tariff.html">Тарифи</a></li>
						<li class="drop__li"><a href="documentation.html">Документація</a></li>
						<li class="drop__li"><a href="action.html">Акції</a></li>
					</ul>
				</li>

				<li class="nav__li">
					<a class="nav__title" href="car-order.html">Замовлення авто</a>
				</li>

				<li class="nav__li nav__li--long">
					<a class="nav__title" href="flight-search.html">Пошук рейсу
					<div class="new"><p>new</p></div>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
